@use '@angular/material' as mat;

:root {
  @include mat.table-overrides((background-color: orange,
      header-headline-color: red,
    ));

  @include mat.card-overrides((elevated-container-color: orange,
      elevated-container-elevation: red,
    ));
}

.table-cursos {
  width: 90%;
  margin: 2rem auto;
  display: block;
}

mat-form-field {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

mat-spinner {
  margin: 2rem auto;
}
