@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((color: (primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
        error: mat.$red-palette,
        sucess: mat.$green-palette,
      ),
      typography: Montserrat,
      density: 0,
    ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

.mat-mdc-snack-bar-container.snackbar-error {
  .mdc-snackbar__surface {
    background-color: #ff6c61 !important;
  }

  .mdc-snackbar__label {
    color: #ffffff !important;
  }

  .mat-mdc-button {
    --mdc-text-button-label-text-color: #ffffff !important;
  }
}

.mat-mdc-snack-bar-container.snackbar-success {
  .mdc-snackbar__surface {
    background-color: #3bb53f !important;
  }

  .mdc-snackbar__label {
    color: #ffffff !important;
  }

  .mat-mdc-button {
    --mdc-text-button-label-text-color: #ffffff !important;
  }
}

.mat-mdc-snack-bar-container.snackbar-warning {
  .mdc-snackbar__surface {
    background-color: #fff86b !important;
  }

  .mdc-snackbar__label {
    color: #ffffff !important;
  }

  .mat-mdc-button {
    --mdc-text-button-label-text-color: #ffffff !important;
  }
}

.mat-mdc-icon-button.mat-warn {
  --mdc-icon-button-icon-color: #f44336 !important;

  .mat-icon {
    color: #f44336 !important;
  }
}

.mat-mdc-icon-button.mat-sucess {
  --mdc-icon-button-icon-color: #15df18 !important;

  .mat-icon {
    color: #3afa3d !important;
  }
}
