<mat-toolbar>Cadastro de Cursos</mat-toolbar>
<mat-card>
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput
      maxlength="100"
      placeholder="Nome"
      formControlName="nome"
      required>
      <mat-error *ngIf="form.get('nome')?.invalid">{{ getErrorMessage('nome') }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Categorias</mat-label>
      <mat-select formControlName="categoria">
        <mat-option [value]="'Front-End'">Front-end</mat-option>
        <mat-option [value]="'Back-End'">Back-end</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('categoria')?.invalid">{{ getErrorMessage('categoria') }}</mat-error>
    </mat-form-field>
  </form>
  <mat-card-actions>
    <button mat-raised-button (click)="returnButton();">Retornar</button>
    <button matButton="filled" mat-raised-button color="primary" (click)="onSubmit();">Salvar</button>
  </mat-card-actions>
</mat-card>
